nav {
    color: $primary;
    border-bottom: 1px solid $line;
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        list-style-type: none;
        li:last-child {
            color: lighten($secondary, 30%);
            font-weight: bold;
        }
        .nav-button {
            width: 40px;
            cursor: pointer;
            @include media-lg {
                display: none;
            }
        }
        .nav-logo {
            font-size: 3rem;
            margin-right: auto;
        }

        .nav-items {
            display: flex;
            // overflow-x: hidden;
            // transition: 0.4s;
            // flex-direction: column;
            // background-color: $primary-light;
            // padding-top: 20%;
            // position: fixed;
            // z-index: 1;
            // height: 100vh;
            // top: 0;
            // right: 0;
            @include media-lg {
                flex-direction: row;
                position: relative;
                height: unset;
                width: 100%;
                padding: 0;
                background-color: transparent;
                justify-content: end;
            }
            li {
                display: block;
                font-size: 1.5rem;
                margin: 20px 15px;
                margin-bottom: 0;
                text-transform: capitalize;
            }
            a {
                display: block;
                width: 100%;
            }
        }
    }
    a {
        display: block;
        color: $primary;
        transition: 0.3s;
        &:hover {
            text-decoration: none;
            color: $secondary;
        }
        &:active {
            color: $secondary !important;
        }
    }
}
