nav {
    color: $primary;
    border-bottom: 1px solid $line;
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        list-style-type: none;
        .nav-button {
            width: 40px;
            cursor: pointer;
            @include media-lg{
                display: none;
            }
        }
        .nav-logo {
            font-size: 3rem;
            margin-right: auto;
        }

        .nav-items {
            display: flex;
            overflow-x: hidden;
            transition: 0.4s ;
            flex-direction: column;
            background-color: $primary-light;
            padding-top: 20%;
            position: fixed;
            z-index: 1;
            width: 0;
            height: 100vh;
            top: 0;
            right: 0;
            @include media-lg{
                flex-direction: row;
                position: relative;
                height: unset;
                width: 100%;
                padding: 0;
                background-color: transparent;
                justify-content: end;
            }
            li{
                display: block;
                font-size: 1.5rem;
                margin: 20px 15px;
                margin-bottom: 0;
                text-transform: capitalize;
            }
            a{
                display: block;
                width: 100%;
            }

            .nav-button-close {
                transform: rotate(180deg);
                width: 30px;
                position: absolute;
                top: 20px;
                left: 10px;
                cursor: pointer;
                &:hover {
                    filter: invert(45%) sepia(12%) saturate(445%) hue-rotate(201deg) brightness(96%) contrast(89%);
                }
                @include media-lg{
                    display: none;
                }
            }
            
        }
        .nav-items-show {
            width: 80%;
            li {
                font-size: 1.5rem;
                margin: 20px 15px;
                margin-bottom: 0;

                &:hover {
                    transform: scale(1.01);
                    transition: all 0.3s ease-in-out;
                }
            }
           
        }
    }
    a {
        display: block;
        color: $primary;
        transition: .3s;
        &:hover {
            text-decoration: none;
            color: $secondary;
        }
        &:active{
            color: $secondary !important;
        }
    }
}
